.site-main{
&__about {
    .container {
        display: flex;
        column-gap: 101px;
        padding: 61px 0px;
        overflow: hidden;
    }
}
&--right{
    margin-right: -300px;
}
&__image2{
    width: 431px;
height: 410px;
margin-left: 175px;
}
&--title2 {
    text-align: left;
}
&--list {
    column-gap: 42px;
}

&--item1 {
    margin-left: -30px;
    border-radius: 10px;
    width: 452px;
    height: 210px;
    padding: 28px 20px;
    background: #f1f1f1;
}

&__top {
    display: flex;
    column-gap: 18px;
    margin-bottom: 24px;
}

&--title5 {
    text-align: start;
}

&--desc {
    width: 372px;
    text-align: start;
}

&__star-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}}